@import url("globals.css");

body {
  margin: 0;
  font-family: Luminari, fantasy;
}

body {
    height: 125vh;
    background-color: black;
    font-family: san-serif;
    margin-top: 50px;
    padding: 30px;
  }
header {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 0 25px 0 grey;
}

header * {
    display: inline;
}
header ul{
  background-color: black;
}

header li {
    margin: 20px;
    float:left;

}

header li a {
    color: #EF0295;
    text-decoration: none;
    padding: 8px;
}

/*header image*/
header img {
    height: 50px;
    margin-left: 40px;
    float: left;
}


/*Social Media Buttons*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}



/*see through background section*/

/*floating area*/
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* About me */
.hero-text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: lightblue;
}

/* Nichole Holmstedt's Portfolio */
.hero-text1 {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: pink;
}

/* Thank you for taking your time to visit my webpage!...*/
.hero-text2 {
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: white;
}

/* Resume text */
.hero-text3 {
  text-align: center;
  position: absolute;
  top: 46%;
  left: 85%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: white;
}

/* contact form*/
.hero-text4 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

#container {
  min-height: 125vh
}
#main {
  overflow: auto;
  padding-bottom: 50px;
}
#footer {
  position: relative;
  height: 50px;
  margin-top: -50px;
}

/*Navigation colors and height/padding*/
  nav{
    height: auto;
    padding: 1em;
  }
    #nav1{
      background-color: black;
    }
    #nav2{
      background-color: black;
    }


main {
    color: black;
}



s1{
  font-size:22.5px;
  font-family: Luminari;
  color: black ;
}

s5{
  font-size:50px;
  font-family: Luminari;
  color: black ;
}

s2{
  font-size:10px;
  font-family: Luminari;
  color: black ;
}

p1{
  color: white;
}

h2{
  font-size:35px;
  font-family: Luminari;
  color: gray ;
}

/*border styles*/
p.solid {border-style: solid; border-color: #581845 ;}
div.solid {border-style: solid; border-color: #581845 ;}


/*LINKS*/
a:link {
  color: #03C682;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #03C682;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #03C682;
  background-color: #777879;
  text-decoration: underline;
}
/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 30px;
}

.left {
  float: left;
  width: 75%;
  background-color: ;
}

.right {
  float: left;
  width: 25%;
  background-color: ;
  padding-left: 20px;
}